h4 Specs
blockquote
  ul.list-unstyled
    li
      strong Shine
      | : {{ product.shine }}
    li
      strong Faces
      | : {{ product.faces }}
    li
      strong Rarity
      | : {{ product.rarity }}
    li
      strong Color  
      | : 
      code {{ product.color  }}